# Ignore everything in the repository
*

# Except for the following files and directories
!*/

#Ignore all files in the venv311 directory
venv311

# Keep only these files
!/.gitignore
!CropRaci.py
!Predict.py
!TrainClassifier.py
!README.md
!requirements.txt
!DizertatieSmarandacheGrigorie_24iunie/**
!UVTPosterSmarandacheGrigorie/**
